
.gameDiv {
    background-image: url("../images/darkness.png");
    color: white;
    height: 100%;
}

.jumbotron {
    font-size: 1.8rem;
    margin-bottom: 5px;

}

.warnings {
    font-size: 1.2rem;
    /* padding: 15px 0; */
}

#imgPlanet {
    max-width: 50%;
}

.guessLetter {
    border-style: solid;
    padding: 5px 10px;
    /* float: left; */
    margin: 2px;
    color: orange;
    display: inline-block;    
}

.secretLetter {
    /* width: 30px;
    height: 30px; */
    border-style: solid;
    padding: 10px;
    /* float: left; */
    margin: 2px;
    color: red;
    display: inline-block;
}